<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ magazine_var.title }}</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
  <header>
    <nav>
      <h3>Magazines</h3>
    </nav>
  </header>
  <main>
        <div class="magazines-card">
            <h2>{{ magazine_var.title }}</h2>
            <p>{{ magazine_var.genre.first }}</p>
            <p>{{ magazine_var.release_cycle }}</p>
            <p>{{ magazine_var.description }}</p>
            <p>{{ magazine_var.cover }}</p>

            {% for issue in magazine_var.magazine.all %}
            <h3>Issue: {{ issue.title }}</h3>
            <p>Description: {{ issue.description }}</p>
            <p>Date Published: {{ issue.date_publish }}</p>
          {% endfor %}
            
            <h1><a href={% url 'magazine_delete' magazine_var.pk %}>Delete this Magazine!</a></h1>
        </div>
  </main>
</body>

</html>


