<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Magazine List</title>
</head>

<body>
  <header>
    <nav>
    </nav>
  </header>
  <main>
    {% for mag in magazines_var %} 
        <div class="magazines-card">
            <h1><a href={% url 'magazine_details' mag.pk %}> {{ mag.title }}</a></h1>
            <p>{{ mag.release_cycle }}</p>
            <p>{{ mag.description }}</p>
            <p>{{ mag.cover }}</p>
        </div>
    {% endfor %}
  </main>
</body>

</html>