<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <header>
    <nav>
    </nav>
  </header>
  <main>
        <div class="books-card">
            <p>{{ book_var.title }}</p>
            <p>{{ book_var.author.first }}</p>
            <p>{{ book_var.number_page }}</p>
            <p>{{ book_var.isbn }}</p>
            <p>{{ book_var.publish_date }}</p>
            <h1><a href={% url 'book_delete' book_var.pk %}>Delete this Book!</a></h1>
        </div>
  </main>
</body>

</html>

    