<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <header>
    <nav>
    </nav>
  </header>
  <main>
    <div>
        <h1>Edit a Book</h1>
        <form method="POST" enctype="multipart/form-data">
  
            <!-- Security token -->
            {% csrf_token %}
          
            <!-- Using the formset -->
            {{ form.as_p }}
              
            <input type="submit" value="Update">
        </form>
    </div>
  </main>
</body>

</html>