<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <header>
    <nav>
    </nav>
  </header>
  <main>
    {% for book in books_var %} 
        <div class="books-card">
            <p><a href={% url 'book_details' book.pk %}> {{ book.title }}</a></p>
            <p>{{ book.author }}</p>
            <p>{{ book.number_page }}</p>
            <p>{{ book.isbn }}</p>
            <p>{{ book.publish_date }}</p>
            <h1><a href={% url 'book_edit' book.pk %}>Edit</a></h1>
        </div>
    {% endfor %}
  </main>
</body>

</html>